GARMIN_EMAIL: 'garmin.health.to.sfs@gmail.com'
GARMIN_PASSWORD: 'likely-a-very-complex-password123'
LOOKBACK_DAYS: 2
# "kg" or "lbs" — must match the unitSystem in statistics-for-strava
WEIGHT_UNIT: "kg"